@page "/"
@using ScheduleGenerator.Client.Services
@inject IAuthenticationService AuthenticationService


<div class="card text-center mt-4">
    @if (AuthenticationService.IsUserLoggedIn())
    {
        <h4 class="card-header text-white bg-dark">Welcome @_email!</h4>
    }
    else
    {
        <h4 class="card-header text-white bg-dark">Welcome!</h4>
    }

</div>

@code {

    private string _email;

    protected override void OnInitialized()
    {
        @if (AuthenticationService.IsUserLoggedIn())
        {
            _email = AuthenticationService.User.Email;
        }
    }

}