@page "/"
@using ScheduleGenerator.Client.Services
@inject IAuthenticationService AuthenticationService

@if (AuthenticationService.IsUserLoggedIn())
{
    <h4 class="alert text-white bg-dark">Welcome in ScheduleGenerator @_email!</h4>
}
else
{
    <div class="d-flex justify-content-center">
        <div class="card bg-dark w-50 text-center mt-4">
            <h2 class="card-header text-white">Welcome in ScheduleGenerator</h2>
            <div class="card-body text-center justify-content-center">
                <h5 class="text-white mb-5">Log in to start creating your schedule</h5>
                <NavLink href="authentication/login">
                    <button class="btn btn-primary action">
                        Log in
                    </button>
                </NavLink>
            </div>
        </div>
    </div>
}

@code {

private string _email;

    protected override void OnInitialized()
    {
        @if (AuthenticationService.IsUserLoggedIn())
        {
            _email = AuthenticationService.User.Email;
        }
    }
}
